.container {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.hidden {
  display: none;
}
button {
  padding: 10px;
}
.card-footer {
  margin-top: 3
  0px;
}
